WinFormTestWcf/Connected Services/ServiceReference1/ServiceControlCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceControlCenter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59511/ServiceControlCenter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59511/ServiceControlCenter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59511/ServiceControlCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceControlCenter_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_AfterLotEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:AfterLotEnd" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_AfterLotEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:AfterLotEndResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_AddSpecialFlow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialFlow" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_AddSpecialFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialFlowResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_JigToolChecking_InputMessage">
    <wsdl:part name="parameters" element="tns:JigToolChecking" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_JigToolChecking_OutputMessage">
    <wsdl:part name="parameters" element="tns:JigToolCheckingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_JigToolGetData_InputMessage">
    <wsdl:part name="parameters" element="tns:JigToolGetData" />
  </wsdl:message>
  <wsdl:message name="IServiceControlCenter_JigToolGetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:JigToolGetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceControlCenter">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceControlCenter/DoWork" message="tns:IServiceControlCenter_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceControlCenter/DoWorkResponse" message="tns:IServiceControlCenter_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AfterLotEnd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceControlCenter/AfterLotEnd" message="tns:IServiceControlCenter_AfterLotEnd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceControlCenter/AfterLotEndResponse" message="tns:IServiceControlCenter_AfterLotEnd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSpecialFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceControlCenter/AddSpecialFlow" message="tns:IServiceControlCenter_AddSpecialFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceControlCenter/AddSpecialFlowResponse" message="tns:IServiceControlCenter_AddSpecialFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JigToolChecking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceControlCenter/JigToolChecking" message="tns:IServiceControlCenter_JigToolChecking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceControlCenter/JigToolCheckingResponse" message="tns:IServiceControlCenter_JigToolChecking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JigToolGetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceControlCenter/JigToolGetData" message="tns:IServiceControlCenter_JigToolGetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceControlCenter/JigToolGetDataResponse" message="tns:IServiceControlCenter_JigToolGetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceControlCenter" type="tns:IServiceControlCenter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceControlCenter/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AfterLotEnd">
      <soap:operation soapAction="http://tempuri.org/IServiceControlCenter/AfterLotEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpecialFlow">
      <soap:operation soapAction="http://tempuri.org/IServiceControlCenter/AddSpecialFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JigToolChecking">
      <soap:operation soapAction="http://tempuri.org/IServiceControlCenter/JigToolChecking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JigToolGetData">
      <soap:operation soapAction="http://tempuri.org/IServiceControlCenter/JigToolGetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceControlCenter">
    <wsdl:port name="BasicHttpBinding_IServiceControlCenter" binding="tns:BasicHttpBinding_IServiceControlCenter">
      <soap:address location="http://localhost:59511/ServiceControlCenter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>