WinFormTestWcf/Connected Services/ServiceReference1/ServiceControlCenter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59511/ServiceControlCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AfterLotEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="e" nillable="true" type="q1:AfterLotEndEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfterLotEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AfterLotEndResult" nillable="true" type="q2:AfterLotEndResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="e" nillable="true" type="q3:AddSpecialFlowEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AddSpecialFlowResult" nillable="true" type="q4:AddSpecialFlowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigToolChecking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="e" nillable="true" type="q5:ItemCheckingEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigToolCheckingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigToolCheckingResult" nillable="true" type="q6:ItemCheckingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigGetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigGetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigGetDataResult" nillable="true" type="q7:ArrayOfJigDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>